@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Asap+Condensed");

:root {
  /* colors */
  --primary-color: #5271ff;
  --secondary-color: #7b3e19;
  --accent1-color: #ced0ce;
  --accent2-color: white;
  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: var(--accent2-color);
  --paragraph-color-on-white: var(--secondary-color);
  --paragraph-color-on-color: var(--accent2-color);
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--primary-color);
  --nav-hover-background-color: var(--accent2-color);
  /* fonts */
  --heading-font: "Bebas Neue";
  --paragraph-font: "Asap Condensed";
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--paragraph-font);
}

body {
  margin: 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--accent1-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--accent2-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

p {
  font-family: var(--paragraph-font);
  font-size: 1.5em;
}

img {
  transition: all 0.125s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto 1fr;
  color: var(--accent2-color);
}

header > .logo-link {
  margin: 0 2em;
}

header > .logo-link > img {
  width: 8em;
}

header nav {
  display: flex;
  font-family: var(--heading-font);
}

nav .dropdown {
  display: none;
  position: relative;
  left: -100%;
  top: 50%;
}

nav .dropdown a {
  padding: 0;
  margin: 0;
}

.dropdown ol {
  position: absolute;
  left: -2em;
  background-color: var(--accent2-color);
  color: initial;
  box-shadow: 0 2px 8px 2px black;
  width: max-content;
}

nav a:hover .dropdown {
  display: block;
}

header nav a,
footer a {
  color: inherit;
  height: 100%;
  padding: 0 2em;
  margin: 0 1em;
  display: flex;
  align-items: center;
}

header nav a > *,
footer a > * {
  color: inherit;
}

header nav a:hover {
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  padding: 1em 4em;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

footer > a {
  grid-column: 3;
}

ol {
  list-style: none;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
}

ol > li {
  margin: 1em;
}

ol a {
  display: flex;
  align-items: center;
  text-align: left;
}

ol span {
  color: var(--secondary-color);
}

ol img {
  width: 4em;
  margin: 0 1em 0 0;
}

.hero {
  background-image: url("../images/enchanting_table.jpg");
  background-position-y: 34%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 4em;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  row-gap: 1em;
}

.hero img {
  grid-row: 1/3;
  border-radius: 10%;
  width: 10em;
  margin: 0 2em;
}

.hero :nth-child(2),
.hero :nth-child(3) {
  grid-column: 2;
  margin: auto 30px;
}

.hero p {
  grid-column: 1/3;
  grid-row: 3;
  color: var(--accent1-color);
}

p.shadow,
h1.shadow,
h2.shadow,
h3.shadow,
h4.shadow,
h5.shadow,
h6.shadow {
  text-shadow: 8px 8px 4px black;
}

:not(p, h1, h2, h3, h4, h5, h6).shadow {
  box-shadow: 8px 8px 4px black;
}

img:not(.no-hover):hover,
a:hover img:not(.no-hover) {
  transform: scale(1.25);
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 1em;
}

.flex-center > div {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
  align-items: center;
}

.secondary {
  color: var(--secondary-color);
}

section:not(.hero) {
  padding: 1em;
}

/* Enchantment Page */
.enchantment-level-text {
  font-size: 1.15em;
}

.enchantment-description {
  margin-top: 1em;
}

.enchantment-details {
  flex-grow: 0 !important;
}

@media only screen and (min-width: 768px) {
  .flex-center {
    flex-direction: row;
  }

  .hero {
    display: grid;
  }

  .grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  ol {
    max-height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  header nav {
    display: none;
  }
}
